@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Linden+Hill:ital@0;1&display=swap');

//Colors:

$mainColor:#FFE9BF;
$secondaryColor:#D29E62;
$darkColor:#695E48;
$lightColor:#C7BD8D;
$blackColor:#1F1F1F;
$whiteColor:#F5F5F5;

