.aboutSection{
    padding-bottom: 3rem;
    ul, li, h2, p{
        color: #C7BD8D;
        font-family: 'Linden Hill';
        font-size: 20px;
        text-align: center;
        margin-left: 1rem;
        margin-right:1rem ;
       
    }
    h2{
        font-size: 28px;
    }
    p{
        margin-top: 2rem;
        margin-left: 4rem;
        margin-right: 4rem;
       
    }
    
    li{
        margin-bottom: 3rem;
    }
   


  
}
