 .timeline {
   list-style: none;
   padding: 2rem;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2rem;
   position: relative;
   .timelineItem {
    position: relative;
    width: 100%;
    max-width: 800px;
  }
.yearSectionStyle{
  display: flex;            
  justify-content: center;   
  flex-direction: column;    
  margin: auto;
  margin-left: 17rem;
  position: relative;
.yearStyle{
      width: 200px;
      height: 200px;
      border: 4px solid #C7BD8D;
      margin: auto;
      //margin-top: 3rem;
      margin-top: 1rem;
      border-top: none;
      border-right: none;
       .circle{
        width: 32px;
        height: 32px;
        border-radius: 50%  ;
        //background-color: #C7BD8D;
        background-color: black;
        border:4px solid #C7BD8D ;
        margin-left: -1.4rem;
        margin-top: -1.5rem;
      }
       .yearLineStyle{
         margin-bottom: -1rem;
         margin-top: 9.5rem;
        margin-left: 9rem;
        font-family: 'Linden Hill';
         font-weight: 400;
         font-size: 24px;
         text-align: left;
       }
      .eventLineStyle{
        width: 280px;
        margin-top: 2rem;
        margin-left: 17rem;
        font-family: 'Linden Hill';
      font-size: 20px;
      font-weight: 400;
    }
    
    }

  .yearStyleRight {
    //margin: auto;
    //text-align:left;
  }
  .yearStyleLeft {
    margin-left: -2.3rem; 
    text-align: left;
    border: 4px solid  #C7BD8D;
    border-left: none;
    border-top: none;
    margin-top: 1px;
    .circleLeft{
      width: 32px;
      height: 32px;
      border-radius: 50%  ;
      background-color: black;
      border:4px solid #C7BD8D ;
      margin-left: 11.5rem;
      margin-top: -1.5rem;
    }
    .yearLineStyleLeft{
      margin-bottom: -1rem;
      margin-top: 9rem;
     margin-left: -3rem;
     font-family: 'Linden Hill';
      font-weight: 400;
      font-size: 24px;
      text-align: left;
      //background-color: red;
     }
     .eventLineStyleLeft{
      width: 280px;
      margin-top: 2rem;
      margin-left: -20rem;
      font-family: 'Linden Hill';
    font-size: 20px;
    font-weight: 400;
    text-align: right;
     }
  }
  .tagStyle{
    margin-right: -17rem;    
    margin-top: -1rem;
    cursor: pointer;
    .bookStyle{
      width: 25px;
      height: 25px;
      float: right;
      margin-top: -3px;
      margin-right: 6rem;
      cursor: pointer;
    }
    .readMoreLink {
      float: right;
         color: white;
         cursor: pointer;
         text-decoration: underline;
       }
    
  }
  .tagStyleLeft{
    //margin-left: 4rem;    
    margin-top: -1rem;
    cursor: pointer;
    .bookStyle{
      width: 25px;
      height: 25px;
      //float: left;
      margin-top: -3px;
      //margin-right: 3rem;
      cursor: pointer;
    }
    .readMoreLink {
      float: left;
      margin-left: -8.5rem;
         color: white;
         cursor: pointer;
         text-decoration: underline;
       }
    
  }
     
  }

  // @media(max-width:600px){
  // .lampImage{
  //   float: left;
  // }
  // .yearSectionStyle{
  //   margin-left: 6rem;
  //   .yearStyle{
  //     //background-color: red;
  //     width: 130px;
  //     height: 130px;
  //     //margin: auto;
  //     //margin-top: -0.5rem;
  //     margin-left: -4rem;
  //     border-top: none;
  //     border-right: none;
  //      .circle{
  //       width: 16px;
  //       height: 16px;
  //       border-radius: 50%  ;
  //       //background-color: #C7BD8D;
  //       background-color: black;
  //       border:4px solid #C7BD8D ;
  //       margin-left: -0.9rem;
  //       margin-top: -1rem;
  //     }
  //      .yearLineStyle{
  //        margin-bottom: -2rem;
  //        margin-top: 5rem;
  //       margin-left:8rem;
  //       font-family: 'Linden Hill';
  //        font-weight: 400;
  //        font-size: 16px;
  //        text-align: left;
  //      }
  //     .eventLineStyle{
  //       width: 250px;
  //       margin-top: 2rem;
  //       margin-left: 8rem;
  //       font-family: 'Linden Hill';
  //     font-size: 14px;
  //     font-weight: 400;
  //   }
    
  //   }
  // }
  // .yearStyleLeft {
  //   margin-left: -2.3rem; 
  //   text-align: left;
  //   border: 4px solid  #C7BD8D;
  //   border-left: none;
  //   border-top: none;
  //   //margin-top: 1rem;
  //   .circleLeft{
  //     width: 16x;
  //     height: 16px;
  //     border-radius: 50%  ;
  //     background-color: black;
  //     border:4px solid #C7BD8D ;
  //     margin-left: 11rem;
  //     margin-top: -1.5rem;
  //   }
  //   .yearLineStyleLeft{
  //     margin-bottom: -1rem;
  //     margin-top: 9rem;
  //    margin-left: -3rem;
  //    font-family: 'Linden Hill';
  //     font-weight: 400;
  //     font-size: 24px;
  //     text-align: left;
  //     //background-color: red;
  //    }
  //    .eventLineStyleLeft{
  //     width: 280px;
  //     margin-top: 2rem;
  //     margin-left: -20rem;
  //     font-family: 'Linden Hill';
  //   font-size: 18px;
  //   font-weight: 400;
  //   text-align: right;
  //    }
  // }
  
  // }
  @media(max-width:700px){
    .yearSectionStyle{
      
      .yearStyle{
        width: 180px;
        height: 180px;
        border: 4px solid #C7BD8D;
        margin-left: -13rem;
        margin-top: 1rem;
        border-top: none;
        border-right: none;
         .circle{
          width: 20px;
          height: 20px;
          border-radius: 50%  ;
          background-color: black;
          border:4px solid #C7BD8D ;
          margin-left: -1rem;
          margin-top: -1.4rem;
        }
        .yearLineStyle{
           margin-bottom: -1rem;
           margin-top: 9.5rem;
          margin-left: 7.5rem;
          font-family: 'Linden Hill';
           font-weight: 400;
           font-size: 18px;
           
         }
         .eventLineStyle{
          width: 235px;
          margin-top: 2rem;
          margin-left: 7.5rem;
          font-family: 'Linden Hill';
        font-size: 16px;
        font-weight: 400;
       
      }
      
      }
      .yearLineStyleLeft {
        //margin-top: 3rem;
        .circleLeft{
          width: 16px;
          height: 16px;
          border-radius: 50%  ;
          background-color: black;
          border:4px solid #C7BD8D ;
          margin-left: -0.8rem;
          margin-top: -1.45rem;
        }
        .yearTitleStyleLeft{
          margin-bottom: -1rem;
          margin-top: 9.5rem;
         margin-left: -5rem;
         font-family: 'Linden Hill';
          font-weight: 400;
          font-size: 18px;
          text-align: right;
         }
         .eventLineStyleLeft{
          width: 235px;
          margin-top: 2rem;
          margin-left: -7.5rem;
          font-family: 'Linden Hill';
        font-size: 16px;
        font-weight: 400;
        text-align: right;
        background-color: red;
         }
      }
      .tagStyle{
        cursor: pointer;
        margin-left:-6rem;    
        margin-top: -1.5rem;
        margin-right: -2rem;
        margin-top: -1.2rem;
        .readMoreLink {
         margin-right: -6.9rem;
          color: white;
          cursor: pointer;
           }
           .bookStyle{
            width: 25px;
            height: 25px;
            cursor: pointer;
            margin-top: -3px;
            float: right;
          }
      }
      .tagStyleLeft{
        //float: left;
        margin-left:9rem;    
        margin-top: -1rem;
        cursor:pointer;
        .bookStyle{
          width: 25px;
          height: 25px;
          //float: right;
          margin-top: -3px;
          margin-right: 6rem;
          cursor: pointer;
        }
        .readMoreLink {
          //float: left;
          //margin-left: 1rem;
             color: white;
             cursor: pointer;
             text-decoration: underline;
           margin-left: -1.5rem;
            }
        
      }
    }
    
    
  }
}
  

  
    






