.formContainer {
    display: flex;
    align-items: center;
    
  }
  
  .inputStyle {
    margin-left: 0.5rem;
    margin-right: 0.5rem; 
    padding: 0.5rem;
    border: 4px solid #C7BD8D;; 
    border-radius: 4px; 
  }
  
  button {
    padding:  0.7rem; 
    border: none; 
    background-color: #C7BD8D; 
    color: white; 
    border-radius: 4px; 
    cursor: pointer; 
  }
  
  .themeSwitcher {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
  }
  
  .lampImage {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
 
  .darkStyle{
    background-color: black;
    padding-top: 1rem;
    color: white;
    margin: auto;
   
    }
    .lampImage{
        width: 60px;
        height: 60px;
        float: right;
        margin: 3rem;
        cursor: pointer;
    }
    

.dark{
    background-color: black;
    color: white;
   
  
}
.light{
    background-color:#F5F5F5;
    color: black;
    
}
  