.formContainer {
    display: flex;
    align-items: center;
    
  }
  
  .inputStyle {
    margin-left: 0.5rem;
    margin-right: 0.5rem; 
    padding: 0.5rem;
    border: 4px solid #C7BD8D;; 
    border-radius: 4px; 
  }
  
  button {
    padding:  0.7rem; 
    border: none; 
    background-color: #C7BD8D; 
    color: white; 
    border-radius: 4px; 
    cursor: pointer; 
  }
  
 
  