body{
  background-color:#1F1F1F;
}
.titleStyle{
  text-align: center;
  font-family: 'Linden Hill';
  font-size: 36px;
  font-weight: 400;
  color: #695E48;
  margin-left: 2rem;
  padding:  1rem;
  
}
.eventsStyle {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  color: white;
  font-family: 'Linden Hill';
  .eventItemStyle {
    position: relative;
    width: 100%;
    max-width: 800px;
 
  }
  .yearSectionStyle{
    display: flex;            
    justify-content: center;   
    align-items: center;      
    flex-direction: column;    
    margin: auto;
    margin-left: 7rem;
    position: relative;
   
  .yearStyle{
        width: 200px;
        height: 200px;
        border: 4px solid #C7BD8D;
        margin: auto;
        //margin-top: 3rem;
        margin-top: 1rem;
        border-top: none;
        border-right: none;
         .circle{
          width: 32px;
          height: 32px;
          border-radius: 50%  ;
          //background-color: #C7BD8D;
          background-color: black;
          border:4px solid #C7BD8D ;
          margin-left: -1.1rem;
          margin-top: -1.9rem;
        }
        
        
        
  
         .yearTitleStyle{
           margin-bottom: -1rem;
           margin-top: 10rem;
       margin-left: 9rem;
       font-family: 'Linden Hill';
           font-weight: 400;
           font-size: 24px;
          
         }
        .textStyle{
          width: 280px;
          margin-top: 2rem;
          margin-left: 12rem;
          font-family: 'Linden Hill';
        font-size: 18px;
        font-weight: 400;
      }
      
      }
      .yearStyleRight {
        margin: auto;
        text-align:left;
      }
      .yearStyleLeft {
        margin-left: 2.7rem; 
        text-align: left;
        border: 4px solid  #C7BD8D;
        border-left: none;
        border-top: none;
        margin-top: 1px;
        .circleLeft{
          width: 32px;
          height: 32px;
          border-radius: 50%  ;
          background-color: black;
          border:4px solid #C7BD8D ;
          margin-left: 11.4rem;
          margin-top: -1.4rem;
        }
        .yearTitleStyleLeft{
          margin-bottom: -1rem;
          margin-top: 9rem;
         margin-left: -3rem;
         font-family: 'Linden Hill';
          font-weight: 400;
          font-size: 24px;
          text-align: left;
          //background-color: red;
         }
         .textStyleLeft{
          width: 280px;
          margin-top: 2rem;
          margin-left: -20rem;
          font-family: 'Linden Hill';
        font-size: 18px;
        font-weight: 400;
        text-align: right;
         }
      }
      .tagStyle{
        float: right;
        margin-right: -3.7rem;
        margin-top: -1.2rem;
        .readMoreLink {
          float: left;
          margin-left: 12rem;
          color: white;
          cursor: pointer;
          text-decoration: underline;
           }
           .bookStyle{
            width: 25px;
            height: 25px;
            cursor: pointer;
            margin-top: -3px;
            float: right;
            margin-right: -1.8rem;
          }
      }
      .tagStyleLeft{
        float: left;
        margin-left: -6.5rem;    
        margin-top: -1rem;
        
        .bookStyle{
          width: 25px;
          height: 25px;
          float: right;
          margin-top: -3px;
          //margin-right: 3rem;
          cursor: pointer;
        }
        .readMoreLink {
          //float: left;
          margin-left: -2rem;
             color: white;
             cursor: pointer;
             text-decoration: underline;
           }
        
      }
        
        
      
    }
    @media(max-width:700px){
      .yearSectionStyle{
        .yearStyle{
          width: 180px;
          height: 180px;
          border: 4px solid #C7BD8D;
          margin-left: -1rem;
          //margin-top: 3rem;
          margin-top: 1rem;
          border-top: none;
          border-right: none;
           .circle{
            width: 20px;
            height: 20px;
            border-radius: 50%  ;
            //background-color: #C7BD8D;
            background-color: black;
            border:4px solid #C7BD8D ;
            margin-left: -1rem;
            margin-top: -1.4rem;
          }
           .yearTitleStyle{
             margin-bottom: -1rem;
             margin-top: 9.5rem;
            margin-right: 2rem;
            font-family: 'Linden Hill';
             font-weight: 400;
             font-size: 18px;
           }
          .textStyle{
            width: 240px;
            margin-top: 2rem;
            margin-left: 9rem;
            font-family: 'Linden Hill';
          font-size: 16px;
          font-weight: 400;
        }
        
        }
        .yearStyleLeft {
          //margin-top: 3rem;
          .circleLeft{
            width: 16px;
            height: 16px;
            border-radius: 50%  ;
            background-color: black;
            border:4px solid #C7BD8D ;
            margin-left: -0.8rem;
            margin-top: -1.55rem;
          }
          .yearTitleStyleLeft{
            margin-bottom: -1rem;
            margin-top: 9.5rem;
           margin-left: 9rem;
           font-family: 'Linden Hill';
            font-weight: 400;
            font-size: 18px;
            text-align: right;
            //background-color: red;
           }
           .textStyleLeft{
            width: 200px;
            margin-top: 2rem;
            margin-left: 9rem;
            font-family: 'Linden Hill';
          font-size: 16px;
          font-weight: 400;
          text-align: left;
           }
        }
        .tagStyle{
          
          margin-left:-11.9rem;    
          margin-top: -1.5rem;
          margin-right: -2rem;
          margin-top: -1.2rem;
          .readMoreLink {
           
            color: white;
            cursor: pointer;
            
             }
             .bookStyle{
              width: 25px;
              height: 25px;
              cursor: pointer;
              margin-top: -3px;
              float: right;
            }
        }
        .tagStyleLeft{
          float: right;
          margin-left:10rem;    
          margin-top: -1rem;
          
          .bookStyle{
            width: 25px;
            height: 25px;
            float: right;
            margin-top: -3px;
            //margin-right: 3rem;
            cursor: pointer;
          }
          .readMoreLink {
            //float: left;
            //margin-left: 1rem;
               color: white;
               cursor: pointer;
               text-decoration: underline;
             }
          
        }
      }
      
      
    }
}
.darkStyle{
  background-color: black;
  padding-top: 1rem;
  color: white;
  margin: auto;
 
  }
  .lampImage{
      width: 60px;
      height: 60px;
      float: right;
      margin: 3rem;
      cursor: pointer;
  }
  

.dark{
  background-color: black;
  color: white;
 

}
.light{
  background-color:#F5F5F5;
  .yearSectionStyle{
    color: black;
  }
}