.navStyle {
    background-color: black;
    color: #C7BD8D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    ul{
        list-style-type: none;
        display: inline-flex;
        gap:8rem;
        
        li a {
            font-size: 25px;
            text-decoration: none;
            font-family: 'Linden Hill', sans-serif;
            font-weight: 400;
            color: inherit; /*  Color remains the same as the parent */
        }
         li:hover{
            text-decoration: underline;
            cursor: pointer;
            transform: scale(1.2);
           
        }
    }
}